<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/venpro_update" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if a.created_by == "Vendor" %}
        <label for="">product id</label>
        <input type="number" name="product_id" value="{{a.product_id}}" placeholder="Enter the product id">
        <label for="">product name</label>
        <input type="text" name="product_name" value="{{a.product_name}}" placeholder="Enter the product name">
        <label for="">vendor name</label>
        <input type="text" name="vendor_name" value="{{a.vendor_name}}" placeholder="Enter the name">
        <label for="">vendor product brand</label>
        <input type="text" name="vendor_product_brand" value="{{a.vendor_product_brand}}" placeholder="Enter the brand">
        <label for="">describtion</label>
        <input type="text" name="describtion" value="{{a.describtion}}" placeholder="Enter the describtion">
        <label for="">category</label>
        <input type="text" name="category" value="{{a.category}}" placeholder="Enter the category">
        <label for="">price</label>
        <input type="text" name="price" value="{{a.price}}" placeholder="Enter the price">
        <label for="">manufacture date</label>
        <input type="date" name="manufacture_date"  value="{{a.manufacture_date}}" placeholder="Enter the man date">
        <label for="">product image</label>
        <input type="file" name="image" placeholder="select your image">
        <input type="submit" value="update">
    </form>
    {% else %}
    <form action="/product_update" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="">product id</label>
        <input type="number" name="product_id" value="{{a.product_id}}" placeholder="Enter the product id">
        <label for="">product name</label>
        <input type="text" name="product_name" value="{{a.product_name}}" placeholder="Enter the product name">
        <label for="">describtion</label>
        <input type="text" name="describtion" value="{{a.describtion}}" placeholder="Enter the describtion">
        <label for="">category</label>
        <input type="text" name="category" value="{{a.category}}" placeholder="Enter the category">
        <label for="">price</label>
        <input type="text" name="price" value="{{a.price}}" placeholder="Enter the price">
        <label for="">manufacture date</label>
        <input type="date" name="manufacture_date"  value="{{a.manufacture_date}}" placeholder="Enter the man date">
        <label for="">product image</label>
        <input type="file" name="image" placeholder="select your image">
        <input type="submit" value="update">
    </form>
    {% endif %}
    
</body>
</html>